@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.nav_section {
  width: 100%;
  background: transparent;
}
.nav_content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  /* max-width: 1440px; */
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 64px;
  transition: background 300ms ease-in;
}

.nav_content ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_content ul li a {
  text-decoration: none;
  color: #4f3267;
  display: block;
  margin-left: 40px;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav-scrolled {
  background: #ffffff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.join-btn {
  /* position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(white, white) padding-box padding-box, linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251)) border-box border-box; */

  border: 1px solid #997efd;
  border-radius: 12px;
  padding: 10px 25px;
}

.logo {
  width: 150px;
  height: 38px;
  background: green;
}

main {
  height: 1500px;
}

.banner {
  width: 100%;
  height: 600px;
  background: linear-gradient(160deg, #caecbc 30%, #95cda2 110%);
}

.nav_content ul li .active {
  color: #de57e5;
}

.footer_section {
  width: 100%;
  background: #f6eff6;
}

.footer_container {
  width: 100%;
  max-width: 1228px;
  margin: 0px auto;
  position: relative;
  padding: 54px 36px 58px;
}

.accordian {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.accordian > div {
  width: 100%;
}

.footer_title {
  font-size: 1.4rem;
  color: rgb(35, 21, 53);
  padding: 2px 0px 7px;
  transition: all 0.5s ease-in-out;
}

.footer_title:after {
  content: "";
}

.footer_container ul {
  list-style: none;
}

.footer_list li {
  line-height: 25px;
}

.footer_list li a {
  display: block;
  font-size: 1.1rem;
  color: rgb(135, 118, 157);
  text-transform: uppercase;
  text-decoration: none;
}

.contactus_icons {
  display: flex;
  padding: 10px 0px 12px;
}

.contactus_icons li a {
  display: flex;
  cursor: pointer;
  width: 18px;
  height: 18px;
  text-decoration: none;
  background: #4f3267;
  margin-right: 22px;
}

.contactus_icons li:first-child {
  margin-top: 0px !important;
}

.contactus_list li {
  color: rgb(135, 118, 157);
  line-height: 24px;
}

.contactus_list li:nth-child(2) a {
  color: rgb(135, 118, 157);
  text-decoration: none;
  text-transform: none;
}

.contactus_list li a {
  display: inline-block;
  color: #de57e5;
  text-transform: capitalize;
  text-decoration: underline;
}

.findStore {
  display: block;
  border: 1px solid rgb(136, 99, 251);
  width: 111px;
  padding: 12px 5px;
  font-size: 1.2rem;
  color: rgb(79, 50, 103);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  margin: 0 120px 0px auto;
}

.appIcons {
  width: 361px;
  border: 2px double transparent;
  border-radius: 20px;
  background-image: linear-gradient(
      90deg,
      rgb(247, 234, 240) 0%,
      rgb(250, 246, 237) 100%
    ),
    linear-gradient(90deg, rgb(199, 181, 255) 0%, rgb(252, 198, 255) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 77px;
}

.socialicons {
  list-style: none;
  display: flex;
  padding: 12px 0px 18px;
}

.socialicons li {
  margin-right: 22px;
}

.socialicons li:last-child {
  margin-right: 0px;
}

.socialicons li a {
  display: block;
  width: 30px;
  height: 30px;
  background: #997efd;
  border-radius: 4px;
}

.downloadOpt h3 {
  font-size: 1rem;
  line-height: 24px;
  color: rgb(135, 118, 157);
  font-weight: 600;
  margin-bottom: 5px;
}

.download-paymentOpt {
  display: flex;
  justify-content: space-between;
}

.paymentOpt {
  list-style: none;
  display: flex;
  align-items: center;
}

.paymentOpt li a {
  display: block;
  width: 40px;
  height: 20px;
  margin: 0px 10px;
  background: #997efd;
  border-radius: 5px;
}

@media (max-width: 993px) {
  .nav_content ul {
    display: block;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgb(137, 144, 164);
  }
  .footer_container {
    padding: 24px 36px 45px;
  }

  .accordian {
    display: block;
    justify-content: unset;
  }

  .footer_title {
    padding: 13px 0px;
    position: relative;
  }

  .footer_title:after {
    content: "\002B";
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 2.5rem;
  }

  .footer_container .active:after {
    content: "\2212";
  }

  .footer_list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  .footer_list li {
    line-height: 32px;
  }

  .footer_list li:first-child {
    margin-top: 12px;
  }

  .findStore {
    margin: 35px auto 20px;
  }

  .download-paymentOpt {
    flex-direction: column;
    align-items: center;
  }
  .downloadOpt h3 {
    text-align: center;
    margin: 15px auto 7px;
  }
  .appIcons {
    width: 271px;
    height: 64px;
  }
  .socialicons {
    justify-content: center;
  }
  .socialicons li {
    margin: 0px 8px;
  }

  .paymentOpt {
    display: none;
  }
}
